{% extends "base.html" %}
{% load static %}
{% block title %}About-Me{% endblock %}
{% block content %}
<div class="about">
	 <div class="container">
		  <div class="about-sec-head">
				<h1>Something About Me and Blogging</h1>
				<br/>
				<h3>WHY I STARTED THIS BLOG?</h3>
				<br/>
				<p>&nbsp;&nbsp; I Started This Blog To Help Beginners To Become Professionals In Python, Sharing Knowledge Is Basically Main Moto. To Get My Address In World Of Internet.
				To Learn Application Deployment With Custom Configuration. </p>
				<br/>
				<h3>WHY YOU SHOULD READ THIS BLOG?</h3>
				<br/>
				<p>&nbsp;&nbsp; To Get Knowledge Of IT Industry, Web, Web Development, Automation & Obiviously Programming Languages.</p>
				<br/>
				<ul class="fancy">
				    <li>Always Free From Repeatation</li>
				    <li>To Know about Core Python Progamming</li>
				    <li>To Know About Web Development With Django</li>
				    <li>To Know About Web Site Testing Automation, Different Types Automation Frameworks</li>
				    <li>To Know About Api Testing Automation, Customization Of This Frameworks</li>
				</ul>
				<br/>
                <h3>WHO THE I AM?</h3>
                <br/>
				<p>I Am Pune Based Python Developer, Programmer Basically Belongs From Parbhani.
				I have 2.5 Years of experience in Software Development using Python, Django, HTML, Bootstrap, CSS, Jquery and Automation of Web Applications using Python, Selenium, Robot Framework.
				Also started working On Automation of Testing API's for POS using Java, Maven, TestNG, Extent Reports. </p>
				<br/>
				<ul class="fancy">
				    <li>Passionate About New Technologies</li>
				    <li>Good Problem Solver, Peoples call me for their Technical Issues</li>
				    <li>Fast Learner</li>
				    <li>Creative</li>
				</ul>
		  </div>
	 </div>
</div>
{% endblock %}