{% extends "base.html" %}
{% load static %}
{% block title %}BalaPrasad-Home{% endblock %}
{% block content %}
<div class="content">
	 <div class="container">
		 <div class="content-grids">
			 <div class="col-md-8 content-main">
				 <div class="content-grid">
					 <div class="content-grid-head">
						 <h3>POST OF THE DAY</h3>
						 <h4>May 07, 2017,Posted by: <a href="#">Admin</a></h4>
						 <div class="clearfix"></div>
					 </div>
				</div>
				{%for article in articles%}
				<div class="content-grid">
				    <div class="content-grid-info">
				        <h3><a href="article/{{article.id}}">{{article.title}}</a></h3>
				        <h4>{{article.create_date}}, Posted by : <a href="#">Admin</a></h4>
				        <p>{{article.description}}</p>
						 <img src="{% static 'images/' %}{{article.image}}" alt=""/>
						 <a class="bttn" href="article/{{article.id}}">MORE</a>
					</div>
				 </div>
				{%endfor%}
				 <div class="pages">
					 <ul>
						 <li class="active"><a href="#">1</a></li>
						 <li><a href="#">2</a></li>
						 <li><a href="#">3</a></li>
						 <li><a href="#">4</a></li>
						 <li><a href="#">5</a></li>
						 <li><a href="#">6</a></li>
						 <li><a href="#">Previous</a></li>
						 <li><a href="#">Next</a></li>
					 </ul>
				 </div>
			 </div>

			 <div class="col-md-4 content-main-right">
				 <div class="search">
						 <h3>SEARCH HERE</h3>
						<form>
							<input type="text" value="" onfocus="this.value=''" onblur="this.value=''">
							<input type="submit" value="">
						</form>
				 </div>
				 <div class="categories">
					 <h3>CATEGORIES</h3>
					 <li class="active"><a href="#">Web Development</a></li>
					 <li><a href="#">Automation</a></li>
					 <li><a href="#">Core Development</a></li>
				 </div>
				 <div class="archives">
					 <h3>ARCHIVES</h3>
					 <li class="active"><a href="#">May 2017</a></li>
					 <li><a href="#">April 2017</a></li>
					 <li><a href="#">March 2017</a></li>
				 </div>
			 </div>
			 <div class="clearfix"></div>
		 </div>
	 </div>
</div>
{% endblock %}